/* Box do erro */
#msg-box {
	padding: 5px 10px;
	position: fixed;
	top: 8px;
	color: #333333;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	display: none;
	
	z-index: 99999;
}

div.msg-success {
	background-color: #DAFFD2;
	border: 1px solid #9CE28D;
}

div.msg-error {
	background-color: #FFD2D5;
	border: 1px solid #E28D93;
}
